# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
db
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# FastAPI
*.sqlite
*.sqlite3

# Database
*.db
*.db-shm
*.db-wal
*.db-journal

# Logs
logs/
*.log

# Environment variables
.env
*.env

# Ignore pyright settings (if using VS Code with Pyright)
pyrightconfig.json