@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: italic;
  }